<fieldset>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <%= f.select :course_id, options_from_collection_for_select(Course.all,
        "id", "name", f.object.course_id), { label: 'Curso',
        prompt: 'Escoja un grupo' },
        { class: "form-control prs-crs-course-id" } %>
    </div>
    <div class="col-md-4 col-xs-12">
      <%= f.select :group_id, options_from_collection_for_select(
        Group.all, "id", "schedule", f.object.group_id),
        { label: 'Grupo', prompt: 'Escoja un grupo' },
        { class: "form-control prs-crs-group-id" }
      %>
    </div>

    <div class="col-md-4 col-xs-12">
      <label>&nbsp;</label>
      <%= link_to_remove_nested 'Eliminar', f, class: "btn btn-danger" %>
    </div>
  </div>
</fieldset>
